.section3 {
  min-height: 100vh;
  max-width: 1120px;
  padding: 100px 0px 120px 0px;
  margin: 0px auto;
  position: relative; }
  .section3 .content_wrapper {
    max-width: 40vw;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    .section3 .content_wrapper h1 {
      font-family: "Crimson Text";
      font-weight: 400;
      font-size: 48px;
      line-height: 66px; }
    .section3 .content_wrapper h2 {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 36.9239px;
      line-height: 45px; }
    .section3 .content_wrapper p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      margin: 20px 0px; }
  .section3 .image_wrapper {
    display: flex;
    position: absolute;
    width: 100%; }
    .section3 .image_wrapper .images1,
    .section3 .image_wrapper .images2 {
      margin-right: auto; }
    .section3 .image_wrapper .images1,
    .section3 .image_wrapper .images2,
    .section3 .image_wrapper .images3 {
      height: 100%; }
      .section3 .image_wrapper .images1 .h2_svg1,
      .section3 .image_wrapper .images1 .h2_svg2,
      .section3 .image_wrapper .images1 .h2_svg3,
      .section3 .image_wrapper .images2 .h2_svg1,
      .section3 .image_wrapper .images2 .h2_svg2,
      .section3 .image_wrapper .images2 .h2_svg3,
      .section3 .image_wrapper .images3 .h2_svg1,
      .section3 .image_wrapper .images3 .h2_svg2,
      .section3 .image_wrapper .images3 .h2_svg3 {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex; }
        .section3 .image_wrapper .images1 .h2_svg1 h2,
        .section3 .image_wrapper .images1 .h2_svg2 h2,
        .section3 .image_wrapper .images1 .h2_svg3 h2,
        .section3 .image_wrapper .images2 .h2_svg1 h2,
        .section3 .image_wrapper .images2 .h2_svg2 h2,
        .section3 .image_wrapper .images2 .h2_svg3 h2,
        .section3 .image_wrapper .images3 .h2_svg1 h2,
        .section3 .image_wrapper .images3 .h2_svg2 h2,
        .section3 .image_wrapper .images3 .h2_svg3 h2 {
          bottom: 15%;
          left: 20px;
          font-family: Poppins;
          font-weight: 500;
          font-size: 36px;
          line-height: 49px;
          color: #fff; }
        .section3 .image_wrapper .images1 .h2_svg1 img,
        .section3 .image_wrapper .images1 .h2_svg2 img,
        .section3 .image_wrapper .images1 .h2_svg3 img,
        .section3 .image_wrapper .images2 .h2_svg1 img,
        .section3 .image_wrapper .images2 .h2_svg2 img,
        .section3 .image_wrapper .images2 .h2_svg3 img,
        .section3 .image_wrapper .images3 .h2_svg1 img,
        .section3 .image_wrapper .images3 .h2_svg2 img,
        .section3 .image_wrapper .images3 .h2_svg3 img {
          bottom: 18%;
          margin-left: 150px; }
