.section2 {
  min-height: 100vh;
  padding: 100px 0px 100px 0px;
  display: flex;
  max-width: 1160px;
  margin: 0px auto; }
  .section2 .left_wrapper {
    display: flex;
    flex-direction: column; }
    .section2 .left_wrapper .content_wrapper {
      color: #0d0d0d; }
      .section2 .left_wrapper .content_wrapper h1 {
        font-family: "Crimson Text";
        font-weight: 400;
        font-size: 48px;
        line-height: 46px; }
      .section2 .left_wrapper .content_wrapper h2 {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px; }
      .section2 .left_wrapper .content_wrapper p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        max-width: 75%;
        margin: 36px 0; }
    .section2 .left_wrapper .image_wrapper {
      margin-top: auto;
      display: flex;
      margin-right: 2.2vw; }
      .section2 .left_wrapper .image_wrapper .img1 {
        margin-right: 2.2vw; }
  .section2 .right_wrapper img {
    object-fit: cover;
    height: 100%; }
