.section3 {
  min-height: 100vh;
  padding: 80px 100px 100px 9vw; }
  .section3 .content_wrapper {
    max-width: 40vw;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    .section3 .content_wrapper h1 {
      font-family: "Crimson Text";
      font-weight: 400;
      font-size: 48px;
      line-height: 66px; }
    .section3 .content_wrapper h2 {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 36.9239px;
      line-height: 45px; }
    .section3 .content_wrapper p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      margin: 20px 0px; }
  .section3 .image_wrapper {
    display: flex; }
    .section3 .image_wrapper .images1,
    .section3 .image_wrapper .images2,
    .section3 .image_wrapper .images3 {
      position: relative; }
      .section3 .image_wrapper .images1 img,
      .section3 .image_wrapper .images2 img,
      .section3 .image_wrapper .images3 img {
        margin-right: 60px; }
      .section3 .image_wrapper .images1 h2,
      .section3 .image_wrapper .images2 h2,
      .section3 .image_wrapper .images3 h2 {
        position: absolute;
        bottom: 15%;
        left: 20px;
        font-family: Avenir;
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
        color: #fff; }
