.section_2_3_flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .section_2_3_flex {
      width: max-content;
      max-width: 1160px; } }

.section2 {
  padding: 100px 100px 100px 11vw;
  display: flex; }
  .section2 .left_wrapper {
    display: flex;
    flex-direction: column; }
    .section2 .left_wrapper .content_wrapper {
      color: #0d0d0d; }
      .section2 .left_wrapper .content_wrapper h1 {
        font-family: "Crimson Text";
        font-weight: 400;
        font-size: 48px;
        line-height: 46px; }
      .section2 .left_wrapper .content_wrapper h2 {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px; }
      .section2 .left_wrapper .content_wrapper p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        max-width: 75%;
        margin: 36px 0; }
    .section2 .left_wrapper .image_wrapper {
      margin-top: auto;
      display: flex;
      justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .section2 {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      flex-direction: column; }
      .section2 .left_wrapper {
        min-width: 620px;
        max-width: 80vw; }
        .section2 .left_wrapper .content_wrapper p {
          max-width: initial; }
        .section2 .left_wrapper .image_wrapper {
          margin-top: auto;
          display: flex;
          grid-gap: 24px; }
          .section2 .left_wrapper .image_wrapper img {
            width: 50%; }
      .section2 .right_wrapper {
        margin-top: 36px;
        width: 100%; }
        .section2 .right_wrapper img {
          width: 100%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .section2 {
      flex-direction: row; }
      .section2 .left_wrapper {
        max-width: none;
        min-width: 650px; }
        .section2 .left_wrapper .content_wrapper {
          margin-top: 5%; }
          .section2 .left_wrapper .content_wrapper p {
            max-width: 60ch;
            padding-right: 40px; }
        .section2 .left_wrapper .image_wrapper {
          margin-top: auto;
          display: flex;
          grid-gap: initial; }
          .section2 .left_wrapper .image_wrapper img {
            width: initial; }
            .section2 .left_wrapper .image_wrapper img:first-child {
              margin-right: 0; }
            .section2 .left_wrapper .image_wrapper img:not(:first-child) {
              margin: 0 auto; }
      .section2 .right_wrapper {
        margin-top: 0;
        width: 100%; } }
