@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;200;300;400;500;700&display=swap");
.header_section .nav_bar {
  display: flex;
  align-items: center;
  padding: 4vh 10vw;
  z-index: 100; }

.section1 {
  min-height: 90vh;
  overflow: hidden; }
  .section1 .background_image {
    position: absolute;
    top: 0;
    right: -30vh;
    z-index: -1;
    width: initial;
    height: 100%;
    object-fit: cover; }
  .section1 .img_cover {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 80vh;
    left: 0;
    background: linear-gradient(360deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%); }
  .section1 .title_wrapper {
    color: #fff;
    padding-top: 250px;
    padding-left: 24vw; }
    .section1 .title_wrapper .main_1 {
      font-family: "DM Serif Display", sans-serif;
      font-size: 72px;
      line-height: 85px;
      font-weight: 400; }
    .section1 .title_wrapper .main_2 {
      font-family: poppins, sans-serif;
      font-weight: 200;
      font-size: 50px;
      line-height: 40px; }
  .section1 .caption_wrapper {
    position: absolute;
    font-family: poppins, sans-serif;
    color: #ffffff;
    bottom: 5%;
    margin-left: 12vw;
    opacity: 0.7; }
    .section1 .caption_wrapper h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px; }
    .section1 .caption_wrapper p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px; }

@media only screen and (min-width: 425px) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section1 .background_image {
      width: 100%;
      right: initial;
      left: 0; }
    .section1 .title_wrapper {
      color: #fff;
      padding: 0;
      padding-bottom: 6vh;
      margin-left: 24vw; }
      .section1 .title_wrapper .main_2 {
        margin-top: -10px; } }

.section_2_3_flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .section_2_3_flex {
      width: max-content;
      max-width: 1160px; } }

.section2 {
  padding: 100px 100px 100px 11vw;
  display: flex; }
  .section2 .left_wrapper {
    display: flex;
    flex-direction: column; }
    .section2 .left_wrapper .content_wrapper {
      color: #0d0d0d; }
      .section2 .left_wrapper .content_wrapper h1 {
        font-family: "Crimson Text";
        font-weight: 400;
        font-size: 48px;
        line-height: 46px; }
      .section2 .left_wrapper .content_wrapper h2 {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px; }
      .section2 .left_wrapper .content_wrapper p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        max-width: 75%;
        margin: 36px 0; }
    .section2 .left_wrapper .image_wrapper {
      margin-top: auto;
      display: flex;
      justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .section2 {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      flex-direction: column; }
      .section2 .left_wrapper {
        min-width: 620px;
        max-width: 80vw; }
        .section2 .left_wrapper .content_wrapper p {
          max-width: initial; }
        .section2 .left_wrapper .image_wrapper {
          margin-top: auto;
          display: flex;
          grid-gap: 24px; }
          .section2 .left_wrapper .image_wrapper img {
            width: 50%; }
      .section2 .right_wrapper {
        margin-top: 36px;
        width: 100%; }
        .section2 .right_wrapper img {
          width: 100%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .section2 {
      flex-direction: row; }
      .section2 .left_wrapper {
        max-width: none;
        min-width: 650px; }
        .section2 .left_wrapper .content_wrapper {
          margin-top: 5%; }
          .section2 .left_wrapper .content_wrapper p {
            max-width: 60ch;
            padding-right: 40px; }
        .section2 .left_wrapper .image_wrapper {
          margin-top: auto;
          display: flex;
          grid-gap: initial; }
          .section2 .left_wrapper .image_wrapper img {
            width: initial; }
            .section2 .left_wrapper .image_wrapper img:first-child {
              margin-right: 0; }
            .section2 .left_wrapper .image_wrapper img:not(:first-child) {
              margin: 0 auto; }
      .section2 .right_wrapper {
        margin-top: 0;
        width: 100%; } }

.section3 {
  min-height: 100vh;
  padding: 80px 100px 100px 9vw; }
  .section3 .content_wrapper {
    max-width: 40vw;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    .section3 .content_wrapper h1 {
      font-family: "Crimson Text";
      font-weight: 400;
      font-size: 48px;
      line-height: 66px; }
    .section3 .content_wrapper h2 {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 36.9239px;
      line-height: 45px; }
    .section3 .content_wrapper p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      margin: 20px 0px; }
  .section3 .image_wrapper {
    display: flex; }
    .section3 .image_wrapper .images1,
    .section3 .image_wrapper .images2,
    .section3 .image_wrapper .images3 {
      position: relative; }
      .section3 .image_wrapper .images1 img,
      .section3 .image_wrapper .images2 img,
      .section3 .image_wrapper .images3 img {
        margin-right: 60px; }
      .section3 .image_wrapper .images1 h2,
      .section3 .image_wrapper .images2 h2,
      .section3 .image_wrapper .images3 h2 {
        position: absolute;
        bottom: 15%;
        left: 20px;
        font-family: Avenir;
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
        color: #fff; }
  @media only screen and (min-width: 768px) {
    .section3 {
      min-height: 0;
      padding: 0;
      width: 100%;
      padding-bottom: 100px; }
      .section3 .content_wrapper {
        max-width: 80vw; }
      .section3 .image_wrapper {
        flex-direction: column;
        grid-gap: 80px;
        max-width: 80vw; }
        .section3 .image_wrapper .images1,
        .section3 .image_wrapper .images2,
        .section3 .image_wrapper .images3 {
          height: 42vh;
          overflow: hidden; }
          .section3 .image_wrapper .images1 .bg_img,
          .section3 .image_wrapper .images2 .bg_img,
          .section3 .image_wrapper .images3 .bg_img {
            width: 100%; }
          .section3 .image_wrapper .images1 .text_wrap,
          .section3 .image_wrapper .images2 .text_wrap,
          .section3 .image_wrapper .images3 .text_wrap {
            margin-left: 0;
            display: flex;
            grid-gap: 8px;
            align-items: center;
            position: absolute;
            bottom: 15%;
            left: 10%; }
            .section3 .image_wrapper .images1 .text_wrap h2,
            .section3 .image_wrapper .images2 .text_wrap h2,
            .section3 .image_wrapper .images3 .text_wrap h2 {
              position: static;
              font-family: Avenir;
              font-weight: 500;
              font-size: 32px;
              line-height: 49px;
              color: #fff; }
            .section3 .image_wrapper .images1 .text_wrap img,
            .section3 .image_wrapper .images2 .text_wrap img,
            .section3 .image_wrapper .images3 .text_wrap img {
              width: 6px;
              margin-top: 5px;
              margin-right: 0; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .section3 {
      width: 100%; }
      .section3 .image_wrapper {
        flex-direction: row;
        grid-gap: 3%;
        max-width: 80vw; }
        .section3 .image_wrapper .images1,
        .section3 .image_wrapper .images2,
        .section3 .image_wrapper .images3 {
          height: initial; }
          .section3 .image_wrapper .images1 .bg_img,
          .section3 .image_wrapper .images2 .bg_img,
          .section3 .image_wrapper .images3 .bg_img {
            width: 100%; }
          .section3 .image_wrapper .images1 .text_wrap,
          .section3 .image_wrapper .images2 .text_wrap,
          .section3 .image_wrapper .images3 .text_wrap {
            margin-left: 0;
            display: flex;
            grid-gap: 8px;
            align-items: center;
            position: absolute;
            bottom: 15%;
            left: 10%; }
            .section3 .image_wrapper .images1 .text_wrap h2,
            .section3 .image_wrapper .images2 .text_wrap h2,
            .section3 .image_wrapper .images3 .text_wrap h2 {
              position: static;
              font-family: Avenir;
              font-weight: 500;
              font-size: 32px;
              line-height: 49px;
              color: #fff; }
            .section3 .image_wrapper .images1 .text_wrap img,
            .section3 .image_wrapper .images2 .text_wrap img,
            .section3 .image_wrapper .images3 .text_wrap img {
              width: 6px;
              margin-top: 5px;
              margin-right: 0; } }

.section4 {
  min-height: 52.4vh;
  position: relative;
  overflow-x: hidden; }
  .section4 .background_image2 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000000; }
  .section4 .img_cover {
    min-height: 52.4vh;
    background-color: black;
    opacity: 0.4; }
  .section4 .content_wrapper {
    min-height: 52vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .section4 .content_wrapper h1 {
      font-family: "Crimson Text";
      font-weight: 400;
      font-size: 48px;
      line-height: 66px;
      color: #ffffff;
      margin-bottom: 14px; }
    .section4 .content_wrapper .btn {
      cursor: pointer;
      display: inline-block;
      background-color: transparent;
      border: 1px solid #ffffff;
      padding: 12px 41px;
      color: #fff;
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff; }

.section5 {
  min-height: 42vh;
  position: relative;
  background-color: #182221; }
  .section5 .content_wrapper {
    display: flex;
    align-items: flex-start;
    padding: 5vh 10vw;
    width: 100%; }
    .section5 .content_wrapper img {
      padding: 10px; }
    .section5 .content_wrapper div {
      color: #ffffff; }
      .section5 .content_wrapper div h5 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        opacity: 0.9;
        padding-bottom: 21px; }
      .section5 .content_wrapper div a {
        display: block;
        font-family: Poppins;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        opacity: 0.6;
        padding-bottom: 11px;
        transition: 250ms all ease-in-out;
        text-decoration: none; }
        .section5 .content_wrapper div a:hover {
          opacity: 1; }
    .section5 .content_wrapper .part1 {
      margin-left: auto;
      padding-right: 60px; }
  .section5 .footer {
    padding-top: 100px;
    padding-left: 10vw;
    padding-bottom: 40px;
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.8; }

@media only screen and (max-width: 767px) {
  .header_section .nav_bar {
    padding-top: 5vh; }
    .header_section .nav_bar .logo {
      width: 25.86px;
      height: 17.84px; }
    .header_section .nav_bar .container {
      width: 15px;
      height: 10.37px;
      padding-left: 65vw; }
  .app_container {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden; }
  .section1 {
    width: 100%;
    height: 100vh;
    position: relative; }
    .section1 .background_image {
      height: 100%;
      position: absolute;
      width: initial;
      left: initial;
      right: -30.78vh; }
    .section1 .title_wrapper {
      padding-top: 43vh;
      padding-left: 13vw; }
      .section1 .title_wrapper .main_1 {
        font-size: 38.6266px;
        line-height: 40px; }
      .section1 .title_wrapper .main_2 {
        font-size: 33.5608px;
        line-height: 37px; }
    .section1 .caption_wrapper {
      bottom: 10%; }
      .section1 .caption_wrapper h3 {
        font-size: 16.0944px;
        line-height: 24px; }
      .section1 .caption_wrapper p {
        font-size: 16.0944px;
        line-height: 24px; }
  .section2 {
    display: block;
    padding: 0;
    margin: 0; }
    .section2 .left_wrapper {
      display: block;
      padding: 0; }
      .section2 .left_wrapper .content_wrapper {
        padding-left: 13vw;
        padding-right: 13vw; }
        .section2 .left_wrapper .content_wrapper h1 {
          padding-top: 50px;
          font-size: 36px;
          line-height: 44px; }
        .section2 .left_wrapper .content_wrapper h2 {
          font-size: 28.7559px;
          line-height: 35px; }
        .section2 .left_wrapper .content_wrapper p {
          max-width: 100%;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 50px; }
      .section2 .left_wrapper .image_wrapper {
        margin: 0px 6.4vw;
        padding-bottom: 36px;
        display: block; }
        .section2 .left_wrapper .image_wrapper img {
          width: 100%;
          display: block; }
        .section2 .left_wrapper .image_wrapper img:first-child {
          padding-bottom: 36px;
          margin-right: 0px; }
    .section2 .right_wrapper {
      margin: 0px 6.4vw; }
    .section2 img {
      width: 100%;
      display: block; }
  .section3 {
    padding: 0;
    margin: 0; }
    .section3 .content_wrapper {
      max-width: 100%;
      padding-left: 13vw;
      padding-right: 13vw;
      margin-bottom: 50px; }
      .section3 .content_wrapper h1 {
        padding-top: 60px;
        font-size: 36px;
        line-height: 44px; }
      .section3 .content_wrapper h2 {
        font-size: 28.7559px;
        line-height: 35px; }
      .section3 .content_wrapper p {
        max-width: 100%;
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
        margin-bottom: 0px; }
    .section3 .image_wrapper {
      margin: 0;
      display: block;
      width: 100%; }
      .section3 .image_wrapper .images1,
      .section3 .image_wrapper .images2,
      .section3 .image_wrapper .images3 {
        display: block;
        min-height: 52vh;
        display: flex;
        flex-direction: column;
        width: 110%;
        top: 0;
        left: -20px;
        margin-bottom: 0px; }
        .section3 .image_wrapper .images1 img,
        .section3 .image_wrapper .images2 img,
        .section3 .image_wrapper .images3 img {
          margin-right: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow-x: hidden; }
        .section3 .image_wrapper .images1 h2,
        .section3 .image_wrapper .images2 h2,
        .section3 .image_wrapper .images3 h2 {
          font-family: Avenir;
          font-size: 28.97px;
          line-height: 40px;
          left: 49px;
          bottom: 40px; }
        .section3 .image_wrapper .images1 .h2_svg1,
        .section3 .image_wrapper .images2 .h2_svg1,
        .section3 .image_wrapper .images3 .h2_svg1 {
          display: flex;
          align-items: center;
          height: 100px;
          top: 94vh;
          width: 100%; }
          .section3 .image_wrapper .images1 .h2_svg1 img,
          .section3 .image_wrapper .images2 .h2_svg1 img,
          .section3 .image_wrapper .images3 .h2_svg1 img {
            width: 5px;
            height: 9px;
            left: 246px;
            bottom: 52px; }
        .section3 .image_wrapper .images1 .h2_svg2,
        .section3 .image_wrapper .images2 .h2_svg2,
        .section3 .image_wrapper .images3 .h2_svg2 {
          display: flex;
          align-items: center; }
          .section3 .image_wrapper .images1 .h2_svg2 img,
          .section3 .image_wrapper .images2 .h2_svg2 img,
          .section3 .image_wrapper .images3 .h2_svg2 img {
            width: 5px;
            height: 9px;
            left: 123px;
            bottom: 52px; }
        .section3 .image_wrapper .images1 .h2_svg3,
        .section3 .image_wrapper .images2 .h2_svg3,
        .section3 .image_wrapper .images3 .h2_svg3 {
          display: flex;
          align-items: center; }
          .section3 .image_wrapper .images1 .h2_svg3 img,
          .section3 .image_wrapper .images2 .h2_svg3 img,
          .section3 .image_wrapper .images3 .h2_svg3 img {
            width: 5px;
            height: 9px;
            left: 200px;
            bottom: 52px; }
  .section4 .content_wrapper h1 {
    font-size: 36px;
    line-height: 50px; }
  .section4 .content_wrapper .btn {
    border: 0.5px solid #ffffff;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 19px; }
  .section5 {
    min-height: 70vh; }
    .section5 .content_wrapper {
      display: block; }
      .section5 .content_wrapper img {
        padding: 0px;
        width: 25px;
        height: 21.67px; }
      .section5 .content_wrapper .part1 {
        margin-top: 44px; }
        .section5 .content_wrapper .part1 h5 {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 8px; }
        .section5 .content_wrapper .part1 a {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 2px; }
      .section5 .content_wrapper .part2 {
        margin-top: 44px; }
        .section5 .content_wrapper .part2 h5 {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 8px; }
        .section5 .content_wrapper .part2 a {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 2px; }
  .footer p {
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -80px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
