header {
	min-height: 100px;
	width: 100%;
	z-index: 100;
	.nav_bar {
		display: flex;
		align-items: center;
		padding: 4vh 10vw;
		height: 100px;
		// width: 100%;
		.ham {
			width: 20px;
			margin-left: auto;
		}
	}
}
