.section2 {
	min-height: 100vh;
	padding: 100px 0px 100px 0px;
	display: flex;
	max-width: 1160px;
	margin: 0px auto;

	.left_wrapper {
		// min-width: 35vw;
		display: flex;
		flex-direction: column;
		.content_wrapper {
			color: #0d0d0d;
			h1 {
				font-family: "Crimson Text";
				font-weight: 400;
				font-size: 48px;
				line-height: 46px;
			}
			h2 {
				font-family: Montserrat;
				font-weight: 400;
				font-size: 36px;
				line-height: 45px;
			}
			p {
				font-family: Poppins;
				font-weight: 400;
				font-size: 16px;
				line-height: 21px;
				max-width: 75%;
				margin: 36px 0;
			}
		}
		.image_wrapper {
			margin-top: auto;
			display: flex;
			margin-right: 2.2vw;

			.img1 {
				margin-right: 2.2vw;
			}
			// .img2 {
			// 	margin-right: 2.2vw;
			// }
		}
	}
	.right_wrapper {
		// min-width: 34vw;
		img {
			object-fit: cover;
			height: 100%;
			// width: 100%;
		}
	}
}
