.section3 {
	min-height: 100vh;
	max-width: 1120px;
	padding: 100px 0px 120px 0px;
	margin: 0px auto;
	position: relative;

	.content_wrapper {
		max-width: 40vw;
		color: #0d0d0d;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		h1 {
			font-family: "Crimson Text";
			font-weight: 400;
			font-size: 48px;
			line-height: 66px;
		}
		h2 {
			font-family: Montserrat;
			font-weight: 400;
			font-size: 36.9239px;
			line-height: 45px;
		}
		p {
			font-family: Poppins;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			margin: 20px 0px;
		}
	}
	.image_wrapper {
		display: flex;
		position: absolute;
		// max-height: 55vh;
		width: 100%;
		.images1,
		.images2 {
			margin-right: auto;
			// img {
			// }
		}
		.images1,
		.images2,
		.images3 {
			height: 100%;
			// width: min-content;

			.h2_svg1,
			.h2_svg2,
			.h2_svg3 {
				width: 100%;
				// height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				h2 {
					// position: absolute;
					bottom: 15%;
					left: 20px;
					font-family: Poppins;
					font-weight: 500;
					font-size: 36px;
					line-height: 49px;
					color: #fff;
				}
				img {
					// position: absolute;
					bottom: 18%;
					margin-left: 150px;
				}
			}
		}
	}
}
