.section2 {
	min-height: 100vh;
	padding: 100px 100px 100px 11vw;
	display: flex;

	.left_wrapper {
		min-width: 44vw;
		display: flex;
		flex-direction: column;
		.content_wrapper {
			color: #0d0d0d;
			h1 {
				font-family: "Crimson Text";
				font-weight: 400;
				font-size: 48px;
				line-height: 46px;
			}
			h2 {
				font-family: Montserrat;
				font-weight: 400;
				font-size: 36px;
				line-height: 45px;
			}
			p {
				font-family: Poppins;
				font-weight: 400;
				font-size: 16px;
				line-height: 21px;
				max-width: 75%;
				margin: 36px 0;
			}
		}
		.image_wrapper {
			margin-top: auto;
			display: flex;

			img {
				&:first-child {
					margin-right: 33px;
				}
			}
		}
	}
}
